### 1. Importing the required libraries

In [4]:
import pandas as pd
import numpy as np
import sweetviz as sv

c:\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### 2. Data Ingestion

In [5]:
simd2020=pd.read_csv('../data/SIMD_2020_Data.csv')

### 3. Investigating multiple columns that seem to quantify the SIMD

##### There are 12 columns that have numerical values pertaining to the SIMD. Since there is no sufficient information to make sense of these variables we choose not to use them.

In [7]:
Indices=simd2020.copy()
Indices=Indices.iloc[:,7:19]
Indices
#SIMD1-5, SIMD1 least deprived, SIMD5 most deprived

,simd2020v2,simd_2020v,simd2020_1,simd2020_2,simd2020_3,simd2020_4,simd2020_e,simd2020_h,simd2020_5,simd2020_a,simd2020_c,simd2020_6
0,90.0,2.0,1.0,1.0,1.0,167.0,48.0,299.0,102.0,4235.0,867.0,943.0
1,462.0,7.0,2.0,1.0,1.0,223.0,681.0,650.0,719.0,4096.0,1144.0,1008.0
2,173.0,3.0,1.0,1.0,1.0,85.0,251.0,228.0,276.0,4669.0,1478.0,1212.0
3,164.0,3.0,1.0,1.0,1.0,216.0,133.0,174.0,292.0,3904.0,986.0,1112.0
4,278.0,4.0,1.0,1.0,1.0,334.0,378.0,324.0,213.0,3625.0,838.0,1843.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4. Removing the simd numerical columns

In [8]:
simd_filtered=simd2020.copy()
simd_filtered=simd_filtered.loc[:, simd_filtered.columns.isin([x for x in list(simd2020.columns) if 'simd' not in x])]
simd_filtered

,id,geom,datazone,intermedia,council_ar,total_popu,working_ag,income_rat,income_cou,employment,...,drive_petr,drive_gp,drive_post,drive_prim,drive_reta,drive_seco,pt_gp,pt_post,pt_retail,broadband
0,2207,0106000020E61000000100000001030000000100000061...,S01008712,"Bingham, Magdalene and The Christians",City of Edinburgh,1124.0,615.0,0.36,405.0,0.32,...,3.848445,1.804226,2.864838,3.856566,4.683930,4.300235,4.086367,7.022797,9.600905512,0.00
1,2198,0106000020E61000000100000001030000000100000032...,S01008703,Craigmillar,City of Edinburgh,1128.0,738.0,0.34,386.0,0.20,...,4.716391,3.012070,5.068158,2.657618,2.265327,4.882096,5.706106,8.562497,5.172350823,0.00
2,2202,0106000020E610000001000000010300000001000000A9...,S01008707,Niddrie,City of Edinburgh,953.0,616.0,0.40,379.0,0.25,...,5.908976,2.370157,2.089455,3.284226,3.397390,3.429833,6.155957,6.755342,7.094846288,0.00
3,2203,0106000020E6100000010000000103000000010000008F...,S01008708,Niddrie,City of Edinburgh,1043.0,649.0,0.34,359.0,0.28,...,6.281557,2.589499,2.563769,3.363543,3.596589,3.324262,5.535684,6.211121,6.542594289,0.02
4,6801,0106000020E6100000010000000103000000010000004A...,S01013306,Craigshill,West Lothian,1044.0,738.0,0.31,326.0,0.23,...,3.240983,2.215408,3.116243,2.509684,2.345567,5.364662,9.955902,12.170924,13.64662728,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,6745,0106000020E61000000300000001030000000100000049...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,45C6D21133E44B40364DD1FBF6F00DC0C2FACC9A35E44B...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,6784,0106000020E6100000010000000103000000010000000B...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
simd_filtered.columns

Index(['id', 'geom', 'datazone', 'intermedia', 'council_ar', 'total_popu',
       'working_ag', 'income_rat', 'income_cou', 'employment', 'employme_1',
       'cif', 'alcohol', 'drug', 'smr', 'depress', 'lbwt', 'emerg',
       'attendance', 'attainment', 'no_qualifi', 'not_partic', 'university',
       'crime_coun', 'crime_rate', 'overcrowde', 'nocentralh', 'overcrow_1',
       'nocentra_1', 'drive_petr', 'drive_gp', 'drive_post', 'drive_prim',
       'drive_reta', 'drive_seco', 'pt_gp', 'pt_post', 'pt_retail',
       'broadband'],
      dtype='object')

### 5. Utilizing sweetviz tool to get a snapshot of the dataset

In [10]:
import sweetviz as sv
my_report = sv.analyze(simd_filtered)
my_report.show_html()

Done! Use 'show' commands to display/save.   |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| [100%]   00:02 -> (00:00 left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.